<link rel="stylesheet" href="/css/paris.css">

<div class="paris-container">
    <div class="left-div">
        <div class="city-info">
            <ul>
          test
                <% result.forEach(function(item) { %>
                    <% if (item.name) { %>
                    <h2><a href="/city/<%= item.id %>"><%= item.name %></h2></a>
                        <h3> <%= item.country %>  </h3>

                    <% } else { %>
                        
                    <li><a href="/<%= item.country %>"><%= item.country %></a></li>
                <% }}); %>
            </ul>
            <div class="weather-div">

            </div>
        </div>

    </div>
    <div class="right-div">

    </div>

    

</div>

