<link rel="stylesheet" href="/css/paris2.css">
<link rel="stylesheet" href="/css/weather.css">
<div class="content">
<div class="wrapper">


    <!-- information + posts and articles -->
    <div class="info">
        <div class="info-header">
            <h2> <%= result.name %>  </h2>
            <h3> <%= result.country %>  </h3>
        </div>

        <div class="info-map" id="map" style="width:400px; height:400px;">
        </div>
        <div class="info-reviews">
            <div class="info-review-card">
                <h3>Article Title (public)</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, omnis... <a href="#">See more</a> </p>
            </div>
        </div>

        


    </div>

    <!-- weather restaurants and attractions etc -->
    <div class="details">
      <div class="info-weather">
        <div class="weather-card">
          <div class="weather-top">
              <div class="weather-info">
                  <div>
                  Here is your forecast for <%= response.data.location.name %>
                  <br>
                  Local Time: <%= response.data.location.localtime %>
                  <br>
                  Current Temperature: <%= response.data.current.temp_c %>°C
                  <br>
                  Feels Like: <%= response.data.current.feelslike_c %>°C
                  </div>
                  
                  <div class="forecast-weather-icon">
                      <%= response.data.current.condition.text %> 
                      <img src='<%= response.data.current.condition.icon %>'>
                  </div> 
              </div>  
          </div>
      </div>
    </div>
    <div class="info-restaurants">
      <h3> Restaurants </h3>
    </div>
    <div class="info-hotels">
      <h3> Hotels </h3>
    </div>
    <div class="info-add-city">
      <h3> Share a experience! </h3>
      <form class="info-form" action="#" method="post" enctype="multipart/form-data">
          <label for="title">Title of the review:</label>
          <input type="text" name="title" placeholder="Add title" required>
          <label for="description">Provide a description:</label>
          <textarea name="description" id="description" placeholder="Say something about this place..."cols="50" rows="5" required></textarea>
          <label for="img">Upload a picture:</label>
          <input type="file" name="image" placeholder="Add photo">
          <button type="submit">Write a review</button>
      </form>
  </div>
  </div>
</div>
<!-- scripts -->


<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
<script>
let map = L.map('map').setView(<%= JSON.stringify(coordinates) %>, 13)
  L.tileLayer(
    'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiaXJvbmhhY2stZWxtZWhkaSIsImEiOiJja3p5ZjhwcHUwMzVyMnhtbDJxeGprMHc0In0.xTZHP5imV7lIxjnNbpGZyg',
    {
      attribution:
        'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox/streets-v11',
      tileSize: 512,
      zoomOffset: -1,
      accessToken: 'your.mapbox.access.token',
    }
  ).addTo(map)
  var marker = L.marker([51.5, -0.09]).addTo(map)
  map.doubleClickZoom.disable()
  map.addEventListener('dblclick', (event) => {
    const data = {
      lat: event.latlng.lat,
      lng: event.latlng.lng,
    }
    const request = new XMLHttpRequest()
    request.open('POST', '/map', true)
    request.setRequestHeader(
      'Content-Type',
      'application/x-www-form-urlencoded; charset=UTF-8'
    )
    request.send(JSON.stringify(data))
    document.location.reload()
  })
</script>

<% coordinates.forEach((coo) => { %>
<script>
  L.marker(<%= JSON.stringify(coo.xy) %>).addTo(map)
</script>
<% }) %>